*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --ff-primary: Epilogue, sans-serif;

    --fw-reg: 500;
    --fw-bold: 700;

    --clr-light: hsl(0, 0%, 98%);
    --clr-medium: hsl(0, 0%, 41%);
    --clr-dark: hsl(0, 0%, 8%);

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}


/*--------------HEADER & NAV SECTION---------------*/
.navbar {
    width: 100%;
    height: 5em;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
    display: flex;
}

.logo {
    height: 1.75em;
    width: 5.5em;
    margin: 1.5em 1.25em;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 75%;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2em;
    width: 25%;
}

.btn-close {
    visibility: hidden;
}

.btn-ham {
    visibility: hidden;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 2.15em;
}

.nav-link,
.dropdown-link {
    color: var(--clr-medium);
}

.nav-link:hover,
.dropdown-link:hover {
    color: var(--clr-dark);
}

.dropdown {
    position: absolute;
    top: 2.25em;
    padding: .5em .5em;
    width: 9.75em;
    text-align: left;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: hsl(0, 0%, 41%);
    transition: 0.2s;
    visibility: hidden;
}

#dd-1 {
    transform: translateX(-40px);
}

#dd-2 {
    transform: translateX(20px);
    width: 8em;
}

.dropdown-item {
    padding: .5em 1em;
}

.icon {
    height: 1em;
    width: 1em;
    margin-right: .75em;
}

.caret {
    height: .4em;
    width: .6em;
    margin: 0 .4em;
}

.nav-item:hover .dropdown {
    visibility: visible;
}

.nav-item:hover .caret {
    transform: rotate(180deg);
}

.register {
    background-color: var(--clr-light);
    color: var(--clr-medium);
    border: 2px solid var(--clr-medium);
    border-radius: 15px;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    padding: .75em 2em;
}

.register:hover {
    color: var(--clr-dark);
    border: 2px solid var(--clr-dark);
}

/* TYPOGRAPHY */

h1 {
    font-family: var(--ff-primary);
    font-size: 6.5rem;
    font-weight: var(--fw-bold);
    text-align: left;
    line-height: 1em;
    margin: .85em 0;
}

h3 {
    font-family: var(--ff-primary);
    font-size: var(--fs-h3);
    font-weight: var(--fw-reg);
    color: var(--clr-medium);
    line-height: 1.6;
    margin: 0 0 .75em 0;
}

/*------------GRID LAYOUT---------------*/
main {
    display: grid;
    position: relative;
    margin: 0;
    grid-template-areas:
        'nav nav'
        'intro img';

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
}

header {
    grid-area: nav;
}

.grid-item-intro {
    grid-area: intro;
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 150px;
}

.grid-item-intro-img {
    grid-area: img;
    align-items: center;
    justify-content: center;
}

/*-------------INTRO SECTION------------*/
.intro-img {
    height: 725px;
    width: 550px;
    margin: 40px 25px;
    visibility: visible;
}

.intro-img-mobile {
    visibility: hidden;
}

.client-list {
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.client1 {
    height: 1.5em;
    width: 8em;
    margin-right: 2.5em;
}

.client2 {
    height: 3em;
    width: 5em;
    margin-right: 2.5em;
}

.client3 {
    height: 1.5em;
    width: 6em;
    margin-right: 2.5em;
}

.client4 {
    height: 2em;
    width: 6.5em;
    margin-right: 2.5em;
}

.btn-more {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    border: 1px solid var(--clr-dark);
    border-radius: 15px;
    font-family: var(--ff-primary);
    font-size: 1.125rem;
    font-weight: var(--fw-bold);
    padding: 20px 35px;
    margin: 45px 0 90px 0;
}

.btn-more:hover {
    cursor: pointer;
    background-color: var(--clr-light);
    color: var(--clr-dark);
}